/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
storage/laravels.conf
storage/laravels.pid
storage/laravels-timer-process.pid
storage/laravels-timer-process.pid